@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');



body {
    margin: 0;
    background-image: url(/Summer.jpg)
}

img {
    width: 400px;
    height: 250px;
    margin: 10px;
    transition: all 1s;
    border-radius: 15px 50px;
}

img:hover {
    transform: scale(1.1);
}

h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3em;
    border-bottom: 2px solid rgb(177, 212, 47);
    width: 400px;
    text-align: center;
    border-right: 2px solid rgb(177, 212, 47);
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}